#header{background: #80aaff;}
#header a {font-family: "Times New Roman",Arial;
        text-decoration: none;
			font-style: italic; font-size: 3em;
			padding: 0 0 0 30px; color: white;
			}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	}

li {
    float: left;
    border-right: 0.25em solid #ffffff;
	}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

li a:hover { background-color: #80aaff; }
#guide
{	background-color: #ffff4d; display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}